//fonts
$game-font: dazzle-unicase, sans-serif;
$paper-font: 'Walter Turncoat', cursive;

//colours
$background: #e5e5e5;
$blue-light: #1e90ff;
$blue-dark: #000080;
$blue-text-shadow: #00008082;
$blue-dark-shadow: #0c3d7e80;
$blue-med-shadow: #1567ac;
$yellow-light: #ffd700;
$yellow-dark: #daa520;
$red-light: #ff0000;
$red-med-shadow: #e00000;
$red-dark-shadow: #aa0101;
$red-dark: #8b0000;


// #e00000
//#d00